@import "tailwindcss";
@import "../styles/base.css";

@import "../styles/components/CategoriesPage.css";
@import "../styles/components/CategoriesSection.css";
@import "../styles/components/CartPage.css";
@import "../styles/components/BrandCarousel.css";
@import "../styles/components/CollectionHeaderBanner.css";
@import "../styles/components/CheckoutModal.css";
@import "../styles/components/ComparisonPage.css";
@import "../styles/components/Footer.css";
@import "../styles/components/AnnouncementBar.css";
@import "../styles/components/Header.css";
@import "../styles/components/HeroPromotions.css";
@import "../styles/components/HomeSectionsClient.css";
@import "../styles/components/MatchScorePage.css";
@import "../styles/components/PaymentMethodModal.css";
@import "../styles/components/PaymentPage.css";
@import "../styles/components/ProductCard.css";
@import "../styles/components/ProductCarousel.css";
@import "../styles/components/ProductDetail.css";
@import "../styles/components/ProductFilters.css";
@import "../styles/components/ProductGrid.css";
@import "../styles/components/ProductRecommendations.css";
@import "../styles/components/ProductSchema.css";
@import "../styles/components/ProductsPage.css";
@import "../styles/components/ProductVideosSection.css";
@import "../styles/components/QuickAccessBar.css";
@import "../styles/components/RecentlyViewed.css";
@import "../styles/components/ImageCarousel.css";
@import "../styles/components/ReviewEligibilityPanel.css";
@import "../styles/components/ReviewsSection.css";
@import "../styles/components/ReviewsShowcase.css";
@import "../styles/components/SearchBar.css";
@import "../styles/components/SpecialOffers.css";
@import "../styles/components/SpecialOffersCarousel.css";
@import "../styles/components/SpecialOffersServer.css";
@import "../styles/components/StoriesCarousel.css";
@import "../styles/components/StructuredData.css";
