.btn-cta {
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
}

.product-card-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-cta {
    font-size: 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .btn-cta {
    font-size: 16px;
  }
}

@media (min-width: 1441px) {
  .btn-cta {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .product-card-name {
    font-size: 20px;
  }
}
